.selectLoadProfiles{
    max-height: 100vh;
    overflow: hidden;
}


.selectLoadProfiles__container{
    margin: 90px 100px;
    border: 3px solid #FFCC00; 
}

.selectLoadProfiles__main{
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
    justify-content: space-evenly;
}


.selectLoadProfiles__heading__container{
    display:flex;
    justify-content: space-around;
}

.selectLoadProfiles__heading > a{
    text-decoration: none;
    transition: all .35s ease;
}

.selectLoadProfiles__heading >a:hover{
    text-decoration: underline;
    color: #FFCC00;
}

.selectLoadProfiles__heading > a > h1 {
    color: #CCCCCC;
}